<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" description="Data Provider for SQLite" invariant="System.Data.SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="bLOGContext"  providerName="System.Data.SQLite"    connectionString="Data Source=|DataDirectory|bLOG.db" />
    <add name="bLOGContext1" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=bLOG;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="PageSize" value="5"/>
    <add key="BlogTitle" value="bLOG2"/>
    <add key="Copyright" value="msynk"/>
    
    <add key="Url.Github" value="http://github.com/bLOG2"/>
    <add key="Url.Linkedin" value="http://linkedin.com/bLOG2"/>
    <add key="Url.Facebook" value="http://facebook.com/bLOG2"/>
    <add key="Url.Twitter" value="http://twitter.com/bLOG2"/>
    <add key="Url.Google" value="http://plus.google.com/bLOG2"/>
    <add key="Url.Instagram" value="http://instagram.com/bLOG2"/>

    <add key="User.saleh.Url" value="http://yusefnejad.blog.ir"/>
    <add key="User.saleh.Email" value="saleh.yusefnejad@fermium.co"/>
    <add key="User.saleh.Github" value="http://github.com/msynk"/>

    <add key="User.yasser.Url" value="http://blog.yasser.ir"/>
    <add key="User.yasser.Github" value="http://github.com/yasser"/>

    <add key="User.farshad.Url" value="http://farshad.ir"/>
  </appSettings>
  <system.web>
    <authentication>
      <forms>
        <credentials passwordFormat="Clear">
          <!-- Generate SHA1 hash password: http://www.stringfunction.com/sha1-hash.html -->
          <user name="admin" password="123" />
          
          <user name="saleh" password="1234567"/>
          <user name="yasser" password="1234567"/>
          <user name="farshad" password="1234567"/>
        </credentials>
      </forms>
    </authentication>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/UnknownRequest" />
    </customErrors>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="MetaWebLogHandler" verb="POST,GET" type="bLOG.Web.Framework.MetaWeblog.MetaWeblogHandler" path="/metaweblog"/>
    </handlers>
  </system.webServer>
</configuration>