<div class="container">
  <div class="summaries">
    <!--<div class="blog-wrapper firstpage-title" style="display:@FirstPageTitleDisplay;">Hi, Welcome</div>-->
    @Summaries
  </div>
  <nav class="pagination" role="pagination">
    <span class="page-number">Page @PageNumber of @TotalPages</span>
    <a class="older-posts" href="/?p=@PrevPage@QueryString" style="display: @OlderPostsDisplay;">Older Posts →</a>
    <a class="newer-posts" href="/?p=@NextPage@QueryString" style="display: @NewerPostsDisplay;">← Newer Posts</a>
  </nav>
</div>