<div style="margin-top: 100px">
  <form action="/Manage/ShowAllPosts" method="POST">
    <div>
      <table>
        <tr>
          <td>username:</td>
          <td><input id="username" name="username" type="text" /></td>
        </tr>
        <tr>
          <td>password:</td>
          <td><input id="password" name="password" type="password" /></td>
        </tr>
        <tr>
          <td colspan="2"><input id="submit" type="submit" value="Login" /></td>
        </tr>
      </table>
    </div>
  </form>
</div>